$dark-blue: #003459;
$light-gray: #667479;
$light-yellow: #fceed5;
$light-blue: #00a7e7;
$dark-gray: #99a2a5;
$border-gray: #e6e7e8;
$footer-background: linear-gradient(
  102.87deg,
  #fceed5 6.43%,
  #fceed5 78.33%,
  #ffe7ba 104.24%
);
